section {
  border: 3px solid rgb(32, 163, 6);
  margin-top: 10px;
  padding: 10px;
  border-radius: 3cap;
  padding-right: 270px;
}
label {
  margin-top: 5px;
}
h3 {
  color: white;
  background-color: rgb(6, 175, 6);
  padding: 3px;
  border-radius: 5cap;
  text-align: center;
 
}
h4 {
  margin-top: 1px;
  margin-bottom: 0px;
  font-style: italic;
  font-weight: normal;
  color: rgb(17, 4, 202);

}
button {
  margin-top: 10px;
  background-color: rgb(4, 170, 26);
  color: white;
  border-radius: 1cap;
  padding: 5px;
}
input {
  width: 100px;
}
table,
th,
td {
  border: 4px solid rgb(11, 151, 6);
  text-align: center;
}
#polizaForm {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 250px;
}
#mainForm {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.colCurrency {
  text-align: right;
  padding-left: 10px;
}
.colNumber {
  column-width: 500px;
}
.divSalida {
  display: flex;
  flex-direction: column;
}
